pkgbase = linux-manjaro-xanmod-surface
	pkgdesc = Linux Xanmod Surface
	pkgver = 6.3.7
	pkgrel = 1
	url = http://www.xanmod.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = perl
	makedepends = libelf
	makedepends = cpio
	makedepends = gettext
	makedepends = tar
	makedepends = xz
	makedepends = python
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = git
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.3.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.3.tar.sign
	source = https://github.com/xanmod/linux/releases/download/6.3.7-xanmod1/patch-6.3.7-xanmod1.xz
	source = choose-gcc-optimization.sh
	source = https://gitlab.manjaro.org/packages/core/linux63/-/archive/9316d222a6d0b0401b6bf04d57aab84c232a28cf/linux63-9316d222a6d0b0401b6bf04d57aab84c232a28cf.tar.gz
	source = git+https://github.com/linux-surface/linux-surface.git
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	sha256sums = ba3491f5ed6bd270a370c440434e3d69085fcdd528922fa01e73d7657db73b1e
	sha256sums = SKIP
	sha256sums = 9cec6c03e14daf279ed1704e408009eda9b56d15e91855cf1e97da2e4cc38c21
	sha256sums = 5c84bfe7c1971354cff3f6b3f52bf33e7bbeec22f85d5e7bfde383b54c679d30
	sha256sums = cfc504a838b4a7804adcc6961435e58ed17fa821e74e6d79fda216f8679e263e
	sha256sums = SKIP

pkgname = linux-manjaro-xanmod-surface
	pkgdesc = The Linux kernel and modules with Xanmod, Manjaro (Bootsplash support) and Surface patches. Ashmem and binder are enabled
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = bootsplash-systemd: for bootsplash functionality
	optdepends = iptsd: Touchscreen support
	optdepends = linux-firmware: Firmware files for Linux
	optdepends = linux-firmware-marvell: Firmware files for Marvell WiFi / Bluetooth
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = NTFS3-MODULE
	conflicts = 
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-manjaro-xanmod-surface-headers
	pkgdesc = Headers and scripts for building modules for the Linux Xanmod Surface kernel
	depends = pahole
	provides = 
	conflicts = 
	replaces = 
